<% title HomeBanner.model_name.human.pluralize %>

<div class="admin_functions">
  <%= link_to "New #{ HomeBanner.model_name.human }", new_admin_home_banner_path %>
</div>

<%= informant_table @home_banners, {
      :headings => [ 'Position', 'Caption', '', 'Display', '', '' ], 
      :body => [ it_sort,
                :caption,
                it_edit_images(:image),
                it_ajax_toggle(:display),
                it_edit,
                it_destroy ]
    } %>
