<div class="row">
  <div class="twelve columns">
    <h1>Latest News</h1>
  </div>
  <hr />
</div>
  
<div class="row">
  
  <% unless @article.image.blank? %> 
  <div class="twelve columns">
    <%= image_tag @article.image.show, :alt => @article.title %>
  </div>
  <% end %>
  
  <div class="twelve columns">
    <h2><%= @article.title %></h2>
    <p><%= raw @article.content %></p>
  </div>
  <hr />


</div>

