<div class="row">
  <div class="twelve columns">
    <h1>Case Studies</h1>
  </div>
  <hr />
</div>


<% @case_studies.each do |case_study| %>
<div class="row">
  <div class="six columns">
    <h2><%= case_study.client.name %></h2>
    <p><%= raw case_study.content %></p>
  </div>
  
  <% unless case_study.client.client_images.size == 0 %>  
  <div class="six columns">
    <div class="featured border">
      <% case_study.client.client_images.each do |image| %>
      <%= image_tag image.image.index, :alt=>image.name if image.image? %>
      <% end %>
    </div>
  </div>
  <% end %>
<hr />
</div>
<% end %>



<script type="text/javascript">
   $(window).load(function() {
       $(".featured").orbit({
        timer: false,
        });
   });
</script>

