body {

}


p {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 17px;
  color: rgb(119, 119, 119);
  font-size:1em;
}

h1, h2 {
  font-family: "lft-etica", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ce273b;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: 14px;
  margin-top: 14px;
}

a {
  color: #013c7e;
  text-decoration:none;
}

a:hover {
  color:#ce273b;
  text-decoration:underline;
}
