#gallery {
    
    .gallery-image {
        margin:17px;
        border: 1px solid #777777;
    }
}

.center {
        margin-left:auto;
        margin-right:auto;
        display:block;
    }
    
.client-logo {
    margin-bottom:20px;
}