<div class="row">
  <div class="twelve columns">
    <h1>Testimonials</h1>
  </div>
  <hr />
</div>


<% @testimonials.each do |testimonial| %>
<div class="row testimonial">
  <div class="twelve columns">
    <p>"<%= testimonial.quote %>"</p>
    <strong><%= testimonial.author %></strong>
  </div>
  <hr />
</div>
<% end %>

